/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #bdc3c7;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #243b55;

  color: #fff;
  /* White text */
}

/* Neon Accents */

.neon {
  text-shadow: 0 0 10px #33ccff, 0 0 20px #66ffff;
  color: #33ccff;
  /* Neon blue */
}

.neon:hover {
  text-shadow: 0 0 20px #66ffff, 0 0 30px #99ffff;
  color: #66ffff;
  /* Brighter neon blue */
}

.neon-active {
  text-shadow: 0 0 30px #99ffff, 0 0 40px #ccffff;
  color: #99ffff;
  /* Even brighter neon blue */
}

/* Button Styles */

.button {
  background-color: #33ccff;
  /* Neon blue */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #66ffff;
  /* Brighter neon blue */
}

.button:active {
  background-color: #99ffff;
  /* Even brighter neon blue */
  box-shadow: 0 0 10px #99ffff;
}

/* Header Styles */

header {
  background-color: #212121;
  /* Dark background */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 10px #33ccff, 0 0 20px #66ffff;
  color: #33ccff;
  /* Neon blue */
}

/* Section Styles */

section {
  background-color: #333;
  /* Darker background */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
}

section h2 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px #33ccff, 0 0 20px #66ffff;
  color: #33ccff;
  /* Neon blue */
}

/* Footer Styles */

footer {
  background-color: #212121;
  /* Dark background */
  padding: 10px;
  text-align: center;
  color: #666;
  /* Darker text */
}

footer a {
  text-decoration: none;
  color: #33ccff;
  /* Neon blue */
}

footer a:hover {
  color: #66ffff;
  /* Brighter neon blue */
}