a:link {
    text-decoration: none;
    color: skyblue;
}

a:hover {
    background-color: black;
    color: yellow;
    border: 2px solid;
}

h1 {
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

a:visited {
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

a:active {
    background-color: blueviolet;
    color: maroon;
}
/* ul li:first-child{
    border: 1px dashed orangered;
}

ul li:last-child{
    border: 1px dashed yellowgreen;
} */
ul li:nth-child(3n + 1) {
    border: 1px dashed orangered;
}

p::first-letter{
    font-size: 40px;
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
p::first-line{
    color: blueviolet;
    font-weight: bold;
    background-color: aquamarine;
}
p::selection{
    color: red;
    background-color: cadetblue;
}
h2::after{
    content:"SIR";
    color: chocolate;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
h2:hover{
    text-shadow: yellowgreen;
    color:red ;
}